@charset "UTF-8";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import './loading.css';

@import './searchbar.css';
@import './musicCard.css';
@import './player.css';
@import './slider.css';
@import './menu.css';

audio { display: none !important }

:root {
    --primary: #963694;
    --gradiente: linear-gradient(90deg, #FC466B 0%, #963694 100%);
    --theme-dark: rgb(32, 32, 32);
}

* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.active {
    color: var(--primary);
}

.material-icons {
    cursor: pointer;
    font-size: 32px !important;
}

.fa {
    cursor: pointer;
}

.theme-dark {
    background-color: var(--theme-dark);
    color: var(--primary);
}

.app {
    margin-top: 10px;
    transition-duration: .5s;
}

h3 { text-indent: 8px }

body {
    display: flex;
    flex-direction: column;
}

.page {
    margin-top: 100px;
    margin-bottom: 140px;
}

.page-block {
    padding-top: 35px;
}

.genre-option {
    cursor: pointer;
}

.home-content {
    margin: 10px;
}

#top-music-list {
    margin-bottom: 80px;
}

.cover {
    background: linear-gradient(90deg, #FC466B 0%, #963694 100%);
    width: 100%;
    height: 200px;
}

.cover img {
    width: 100%;
}

.col-50 {
    display: inline-table;
    max-width: 40%;
    padding: 5px;
}

.col-50>img {
    width: 130px;
    height: 130px;
    padding: 0;
    margin: 0;
}




/* Modal (background) */

#splash {
    background: linear-gradient(90deg, #FC466B 0%, #963694 100%);
    width: 100%;
    height: 700px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    animation: moment-on 1s linear 2s;
    animation-fill-mode: forwards;
}

.splashLogo {
    font-size: 35px;
    color: white;
    position: fixed;
    top: 50%;
    left: 35%;
}

@keyframes moment-on {
    from {
        opacity: 1;
    }
    10% {
        opacity: 0.1;
    }
    to {
        height: 1px;
        opacity: 0;
        display: none;
    }
}

@keyframes moment-off {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: none;
    }
}